body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.team-area {
    flex-wrap: wrap;
    justify-content: center;
}

.employee-card {
    margin: 10px;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
}

.team-heading,
.card-header {
    color: white;
}

.card-header:first-child {
    border-radius: 10px 10px 0 0;
    border: none;
}

.team-heading {
    background: #43cea2;
    background: linear-gradient(to right, #185a9d, #43cea2);
}

.manager-header {
    background: #360033;
    background: linear-gradient(to right, #0b8793, #360033);
    
}

.engineer-header {
    background: #9D50BB;
    background: linear-gradient(to right, #6E48AA, #9D50BB);
}

.intern-header {
    background: #D38312;
    background: linear-gradient(to right, #A83279, #D38312);
}